/* html { */
    /* background-image: url("/root/WebApp/Web_app/static/background.jpg"); */
    
/* } */
  
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 30px;
    /* padding: 80px; */
  }
  @-webkit-keyframes ani {
    0% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 whitesmoke;
      color: black;
    }
    30% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 whitesmoke;
      color: black;
    }
    70% {
      transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em whitesmoke;
      color: black;
    }
    100% {
      transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em whitesmoke;
      color: black;
    }
  }
  @keyframes ani {
    0% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 whitesmoke;
      color: black;
    }
    30% {
      transform: translate3d(0, 0, 0);
      text-shadow: 0em 0em 0 whitesmoke;
      color: black;
    }
    70% {
      transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em whitesmoke;
      color: black;
    }
    100% {
      transform: translate3d(0.08em, -0.08em, 0);
      text-shadow: -0.08em 0.08em whitesmoke;
      color: black;
    }
  }
  .popout span {
    position: relative;
    display: inline-block;
    -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
            animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
  }
  .popout span:nth-last-child(1n) {
    -webkit-animation-delay: -0.1666666667s;
            animation-delay: -0.1666666667s;
  }
  .popout span:nth-last-child(2n) {
    -webkit-animation-delay: -0.3333333333s;
            animation-delay: -0.3333333333s;
  }
  .popout span:nth-last-child(3n) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }