<!DOCTYPE html>
   <style>
      body::before {
        content: "";
        background-image: url('https://media.istockphoto.com/id/616008942/photo/dental-x-ray-of-teeth.jpg?s=612x612&w=0&k=20&c=Z6EJjGffMmUqpQBtQQnq_0x3i2dmBuCY52-Lt-1KX9Y=');
        background-size: cover;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        filter: blur(5px);
        opacity: 0.7;
      }
</style>

<html>
  <head>
    <title>Human Age Estimation Through Panoramic Radiographs Images With Deep Neural Network</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/upload2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/arrow_back.css') }}">


  </head>
  
  <p class="popout">
     <br>    <br>  
    
     &nbsp;&nbsp;  &nbsp; <span>Human</span>  <span>Age</span> <span>Through</span> <span>Panoramic</span> <span>Radiographs</span> <span>Images</span> <span>With</span> <span>Deep</span>   
    <span>Neural</span>  <span>Network</span>   
     </br> </br>
    </p>


  <body>
  <div class= "zone">
    <br>    
    <h1>Image Upload</h1>   

  <div id="dropZ">
<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" height="180"/>
<br></br>

<form action="/upload" method="post" enctype="multipart/form-data" >
    </div>
      <div class = "selectFile">
     <input type="file" name="image" accept=".jpg, .jpeg">
      <button type="button" class="btn btn--purple">
      <span class="btn__txt"> <input type="submit" value="Upload"></span>
      <i class="btn__bg" aria-hidden="true"></i>
      <i class="btn__bg" aria-hidden="true"></i>
      <i class="btn__bg" aria-hidden="true"></i>
      <i class="btn__bg" aria-hidden="true"></i>
    </form>       
  </body>
</div>
</div>
</button>

</html>